@CHARSET "UTF-8";

/* reset */
*				{ margin:0; padding:0 }
body			{ font:0.75em "맑은 고딕", 돋움, 굴림; text-align:center }
ul, ol			{ list-style-type: none }

/* layout */
div#container	{ text-align:left; width:100%; margin:0 auto; background-color:#EEE }
div#content		{ float:right; width:100%; height:700px; background-color:#fff }
div#navigation	{ float:left; width:120px;  }
div#footer		{ clear:both; width:100% }

/* header */
div#header	h1			{ height:70px; line-height:70px; margin:0;padding-top:15px;text-align:center; text-decoration:none;  }
div#header	h1 a		{ text-decoration:none; color:#A5D1F5; }

div#header	ul		{ height:20px; margin:0 20px 10px 20px; } 
div#header	ul li.left			{ float:left }
div#header	ul li.right			{ float:right }
div#header	ul li a 		{ display:block; margin-left:10px }
div#header #profile     { width:20px; margin-right: 5px;}

/* footer */
div#footer		{ position:fixed; background:#515151; color: #FFF; margin-top:780px; }
div#footer p	{ margin:0;padding:5px 10px }


